@model ItViteaTaskPlanner.Web.Models.OverviewPerCatagory

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        @foreach(var item in Model.TasksPerCatagories)
        {
            <th>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </th>
        }
    </tr>
    <tr>
        @foreach (var item in Model.TasksPerCatagories)
        {
            var dummy = item.Overviews.FirstOrDefault();
        <td>
            <table>
                @foreach (var subItem in item.Overviews)
                {
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => subItem.TaskName)
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => subItem.TaskStartTime)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => subItem.TaskEndTime)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = subItem.TaskId }) |
                        </td>
                    </tr>
                }
            </table>
        </td>
        }
    </tr>
</table>
